html {
	font-family: sans-serif; color: #333333;
}

body {
	font-family: sans-serif; color: #333333;
}

a {
	font-weight: bold;
	color: #CC0000;	
}

p {
	font-family: sans-serif;
	display: block; color: #333333;
}
